@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;800;900&display=swap");

*,
html,
body,
:root {
  font-family: "Raleway", Helvetica, Arial, Lucida, sans-serif;
}
#root {
  box-sizing: border-box;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  text-align: center;
}

.whats {
  width: 2em;
}

.btn-modal {
  position: fixed;
  right: 3vw;
  bottom: 6vh;
  margin: 10px;
  background-color: #132068;
  color: white;
  border: none;
  padding: 10px;
}

.btn-home {
  display: flex;
  padding: 25px 30px;
  text-align: center;
  justify-content: center;
  position: relative;
  border-radius: 100px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 900;
  /* left: 25vw; */
  bottom: 20vw;
  margin: 0 auto;
  width: 280px;
  min-width: 5vw;
  background-color: rgb(255, 255, 255);
  text-decoration: none;
  color: #2c84cb;
}

.btn-home:hover {
  background-color: rgb(3, 27, 92);
  color: #fff;
}

.home-button {
  font-weight: 900;
  letter-spacing: 0.1rem;
}

.mascote-gn {
  position: fixed;
  width: 200px;
  right: 1vw;
  bottom: 1vw;
}

.mascote-texto {
  position: fixed;
  border-bottom: 1px dotted black;
}

.mascote-texto:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 140px;
  background-color: rgb(63, 6, 117);
  color: #fff;
  text-align: center;
  border-radius: 15px;
  padding: 8px;
  transition: opacity 0.5s ease-in-out;

  position: fixed;
  z-index: 2;
  right: 180px;
  bottom: 250px;
}

.mascote-texto:hover:before {
  opacity: 1;
  visibility: visible;
}

.alerta {
  position: fixed;
  bottom: 7vh;
  right: 6vw;
  background: rgb(4, 173, 200);
  background: linear-gradient(
    317deg,
    rgba(4, 173, 200, 1) 0%,
    rgba(9, 108, 119, 0.8302325581395349) 32%,
    rgba(58, 255, 0, 1) 100%
  );
  border-radius: 25px;
  padding: 20px;
  color: white;
  text-shadow: #131313 1px 1px 3px;
}

a.link {
  cursor: pointer;
  font-weight: bold;
  color: rgb(26, 235, 26);
  text-shadow: rgb(2, 73, 95) 1px 1px 2px;
}

a.btn.btn-link {
  color: white;
}

.btn-close {
  background-color: rgb(228, 7, 7);
  border-style: none;
  border: none;
  padding: 20px;
  margin: 10px;
}

.nav-mobile {
  display: none;
}

.menu-text {
  font-size: 15px;
  color: #1b128e;
  font-weight: bold;
}

.menu-text:hover {
  background: #00aaac;
  color: #fff;
  transition: all 0.3s ease;
}

.header-menu {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  max-height: 90px;
  width: 100%;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    317deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 15%,
    rgba(0, 212, 255, 1) 100%
  );
  color: white;
  text-shadow: 2px 2px 3px #131313;
  font-size: 20px;
  margin: 0;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.header-menu li {
  position: relative;
  padding-bottom: 10px;
  float: left;
  text-decoration: none;
  list-style: none;
  min-width: 10rem;
}

.header-menu li a {
  color: white;
}

.header-menu img {
  width: 70px;
  height: 70px;
}

nav {
  margin: 0 auto;
  padding-bottom: 5px;
  align-items: center;
  text-align: center;
}

.MenuItem:active {
  background: #443d7f;
}

.form {
  border-radius: 5px;
  padding: 20px;
  width: 100%;
  margin: 91px auto;
  border: 1px solid #170061;

  min-height: 40vh;
  max-width: 930px;
  font-weight: 700;
}

.form span {
  color: #3366ff;
  font-weight: 800;
}

.popup-negativo {
  position: absolute;
  background-color: #000;
  color: red;
  min-width: 100vw;
  min-height: 100vw;
}

.logo-home {
  margin: 20px;
}

.form input {
  display: block;
  background-color: rgba(219, 219, 219, 0.719);
  color: rgb(90, 90, 90);
  margin: 10px auto;
  font-weight: bold;
  font-size: 1em;
  max-width: 720px;
  width: 90%;
  height: 100%;
  padding: 15px;
  border: none;
}

.input-detail {
  font-size: 14px;
  text-align: left;
  width: 90%;
  padding-left: 95px;
}
.input-detail a {
  font-size: 20px;
  text-decoration: none;
  color: #05afaf;
}

input[type="submit"] {
  background-color: #340999;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  max-width: 200px;
}

input[type="submit"]:hover {
  background-color: #0bad62;
}

.form input:focus {
  outline: none;
}
.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name {
  transform: translateY(-150%);
  font-size: 14px;
  left: 0px;
  color: #fce38a;
}
.form input:focus + .label-name::after,
.form input:valid + .label-name::after {
  transform: translateX(0%);
}

.form button {
  display: none;
}

.data {
  position: relative;
  top: -100px;
  left: 0;
  right: 0;
  list-style: none;
  color: white;
  width: 100%;
  margin: 0 auto;
  border-radius: 8px;
  padding: 30px;
  background: rgba(9, 9, 121, 1);
}

.data:hover {
  transform: scale(1.2);
  transition: all 0.5s ease-in-out;
}

.data-name {
  font-size: 30px;
}

.data-desc,
.link {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
}
.data-desc-not {
  position: relative;
  right: 0;
  top: -20px;
  left: 0;
  margin: 0 auto;
  width: 70%;
  padding: 20px;
  border-radius: 8px;
  background-color: #ea3838;
  font-size: 25px;
  color: #fff;
}

.ul-data {
  padding: 20px 10px;
  margin: 0.1rem;
  transition: all 0.3s ease;
}

li.data {
  transition: all 0.3s ease;
}

.modal {
  border-radius: 20px;
  background-color: #2b5f8a;
  transition: all 0.5s ease-in-out;
}

.input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  margin: 20% auto;
  padding: 10px;
  border-radius: 15px;
  outline: none;
  transition: all 0.3s ease;
}

.container-box-title {
  background-color: rgba(155, 243, 255, 0.15) !important;
  font-size: 27px;
  padding: 92px 20px;
  width: 100%;
  display: block;
}

.container-box-title strong {
  margin: 0 30px;
}

.container-box-title span {
  color: #3366ff;
}

.container-box .box .content {
  background-color: #ffffff;
  width: 100%;
  border-radius: 15px;
  text-align: start;
  padding-left: 20px;
  padding-right: 20px;
}
.container-box .box .content-title h2 {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: 800;
  padding: 5px;
}

.container-box .box a {
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  text-align: center;
  width: 10rem;
  margin: 0 auto;
  color: #fff;
  background-color: #0c71c3;
  padding: 15px;
  border-radius: 35px;
  transition: 0.2s;
  font-weight: bold;
}

.container-box .box a:hover {
  background-color: #170061;
  transform: scale(1.1);
}

.content-title {
  display: block;
  position: relative;
  bottom: 30px;
  background-color: #0c71c3;
  -webkit-border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.box-list {
  margin: 20px;
  min-height: 200px;
  border-bottom: 2px solid rgba(207, 207, 207, 0.7);
}

.container-box {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0;
  padding-left: none;
  padding-right: none;
}

.container-box .box {
  position: relative;
  background-color: #fff;
  width: 320px;
  height: 400px;
  display: block;
  justify-content: center;
  align-items: center;
  margin: 40px 10px;
  transition: 0.2s;
  border-radius: 15px;
  -webkit-box-shadow: 0px 6px 17px 4px rgba(0, 0, 0, 0.37);
  box-shadow: 0px 6px 17px 4px rgba(0, 0, 0, 0.37);
}

.container-box .box:hover {
  transform: scale(0.95);
}

.container-fluid-standard {
  min-height: 100%;
  height: 100vh;
  width: auto;
  margin: 0 auto;
  background-image: url("../src/assets/gnbgtexture.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #008dff;
  background-image: linear-gradient(45deg, #008dff 0%, #0becd3 100%);
}

.box-gnplay {
  background: rgb(219, 241, 255);
  background: linear-gradient(
    0deg,
    rgba(219, 241, 255, 0.9353348729792148) 0%,
    rgba(9, 133, 186, 1) 100%
  );
  /* background-image: url("../src/assets/gnplaybg.png");
  opacity: 0.8;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 50vw; */
  padding: 50px;
}

.gnplay-logo {
  width: 380px;
  max-width: 500px;
}

.gnplay-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  padding-top: 50px;
}

.gn-title {
  color: #fff;
  display: block;
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
}

.gn-subtitle {
  color: #fff;
  font-size: 25px;
}

.gnplay-card-card:hover {
  transform: scale(0.95);
  transition: all 0.3s ease;
}

.gnplay-card button {
  font-weight: bold;
  background-color: #1b128e;
  color: #fff;
  margin: 20px;
  padding: 12px;
  justify-content: center;
  border-radius: 8px;
  text-transform: uppercase;
  border: none;
  font-size: 16px;
}

.gnplay-card button:hover {
  color: #000;
  cursor: pointer;
  background-color: #3fc4f7;
  transform: scale(1.03);
  transition: all 0.3s ease-in-out;
}

.gnplay-studio {
  margin-top: 40px;
  font-size: 40px;
  font-weight: 800;
}

.gnplay-studio img {
  width: 90vw;
}

.header-container {
  display: block;
  width: 100%;
}

.header-container-text {
  color: #fff;
  position: absolute;
  left: 10vw;
  width: 40%;
  top: 20vh;
  font-weight: 900;
  font-size: 5em;
}

.container-banners {
  position: relative;
  top: 5rem;
  width: 100%;
}

.banner-icon {
  width: 100%;
  max-height: 50vw;
}

.container-aboutus {
  background-image: url("../src/assets/aboutus-bg.jpg");
  width: 100vw;
  min-height: 100%;
  display: flex;
  padding: 0 80px;
  margin-bottom: 15vw;
  margin-top: 8vw;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  align-items: baseline;
}

.about-card-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: center;
  align-items: stretch;
  text-align: start;
  width: 40%;
  margin-right: 20px;
}

.about-card-container img {
  display: flex;
  width: 100px;
  padding-right: 10px;
}

.about-text {
  color: #fff;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  text-align: left;
  padding: 10px 50px;
}

.about-text p {
  padding: 0;
  margin: 0;
  line-height: 1.7em;
  width: 60%;
  font-weight: 600;
  text-align: start;
  color: #ffffff;
  margin-right: 10px;
  font-size: 18px;
}

.about-text span.title {
  color: #2e8ee0;
  width: 100%;
  text-align: start;
  font-size: 30px;
  font-weight: bold;
}

.about-text span.subtitle {
  font-weight: bold;
  font-size: 60px;
  width: 70%;
  line-height: 1.3em;
  margin-bottom: 20px;
}

.about-btn {
  background: linear-gradient(-45deg, #3f00b5, #9f69fe, #27c8b7, #3f00b5);
  background-size: 800% 400%;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 1em;
  display: block;
  border: none;
  position: relative;
  border: none;
  max-width: 20%;
  min-width: 280px;
  top: 10vh;
  border-radius: 25px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 700;
  color: white;
  transition: all 0.5s ease-in-out;
  animation: gradient 10s infinite cubic-bezier(0.62, 0.28, 0.23, 0.99) both;
}

.about-btn:hover {
  animation: gradient 3s infinite;
  transform: scale(1.05);
}

.about-btn:active {
  animation: gradient 3s infinite;
  transform: scale(0.8);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.card {
  margin-top: 100px;
  box-shadow: none;
  margin: 5px;
  min-width: 180px;
  height: 180px;
  border-radius: 20px;
  transition: all 0.3s;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.card2 {
  width: 180px;

  height: 180px;
  color: #fff;
  background-color: #6d00fb;
  transition: all 0.2s;
}

.card2:hover {
  border-radius: 20px;
}

.card:hover {
  transform: scale(0.9);
}

.container-carrocel {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 100px;
}

.carrocel-subtitle {
  text-align: center;
}

.business-icon {
  display: inline;
  width: 30vw;
  height: 30vw;
  position: relative;
}

.container-business {
  background-color: #170061;
  display: flex;
  justify-content: left;
  width: 100%;
  height: 100%;
  padding: 20px;
  margin-top: 15vw;
  margin-bottom: 10vw;
}

.business-text p {
  padding: 0;
  margin: 0;
  width: 70%;
  line-height: 1.3em;
  font-size: 60px;
  font-weight: bold;
}

.business-text {
  color: rgb(255, 255, 255);
  width: 65vw;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  text-align: left;
  padding: 10px 70px;
  margin-left: 100px;
}

.business-text span.title {
  color: #2e8ee0;
  width: 100%;
  text-align: start;
  font-size: 30px;
  font-weight: bold;
}

.business-detail {
  width: 70%;
  line-height: 1.9em;
  font-weight: bold;
  font-size: 20px;
}

.container-contact {
  background-image: url("../src/assets/contact-bg.jpg");
  width: 100%;
  margin: 0 auto;
  color: #000;
  display: inline-flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 30px;
  margin-top: -78px;
  margin-bottom: 200px;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.contact-form span {
  display: block;
  padding: 10px;
}

.contact-form input {
  width: 300px;
  height: 35px;
  border-radius: 5px;
  padding-left: 48px;
  outline: none;
  border: 0.1em solid;
  border-color: rgb(187, 187, 187);
}

.container-contact-left {
  display: grid;
  text-align: start;
  align-content: stretch;
  justify-items: start;
  width: 40%;
  justify-content: center;
  align-items: start;
}

.contact-form button {
  padding: 15px;
  margin-top: 15px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  background-color: #0c71c3;
  color: #fff;
  width: 200px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}

.contact-form button:hover {
  background-color: rgb(8, 241, 241);
  color: #000;
  transition: 00.3s;
  transform: scale(1.1);
}

.carousel-container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
}

.testemunhal {
  width: 90%;
  padding: 20px;
  text-align: start;
  display: flex;
  margin: 0 auto;
}

.testemunhal-list {
  background-color: lightgray;
  margin: 10px;
}

.testemunhal p {
  padding: 20px;
}

.client-icon {
  width: 150px;
  padding: 20px;
  margin: 10vw;
}

.box-phone {
  background-image: url("./assets/phone-bg.jpg");
  min-height: 15vw;
  margin-top: 50px;
  margin-bottom: 150px;
  padding: 30px;
}

.phone-icon {
  display: inline;
  width: 200px;
}
.box-phone img {
  position: relative;
  top: -15vw;
  left: 20%;
  width: 400px;
}

.phone-text {
  color: #fff;
  width: 70%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  text-align: left;
  padding: 10px 70px;
}

.phone-text span.title {
  color: #2e8ee0;
  width: 100%;
  text-align: start;
  font-size: 30px;
  font-weight: bold;
}

.phone-text p {
  padding: 0;
  margin: 0;
  width: 60%;
  font-size: 60px;
  font-weight: bold;
}

.phone-detail {
  font-size: 20px;
  width: 75%;
}

.box-phone button {
  font-weight: bold;
  background-color: #1b128e;
  color: #fff;
  margin: 20px;
  position: absolute;
  padding: 15px;
  justify-content: center;
  border-radius: 8px;
  text-transform: uppercase;
  border: none;
  font-size: 20px;
}

.box-phone button:hover {
  color: #000;
  cursor: pointer;
  background-color: #3fc4f7;
  transform: scale(1.03);
  transition: all 0.3s ease-in-out;
}

.footer-container {
  display: flex;
  max-height: 100px;
  justify-content: space-around;
}

.footer-content span {
  margin: 0 10px;
}

@media screen and (max-width: 900px) {
  .container-fluid-standard {
    height: auto;
  }
  .container-contact {
    background-size: cover;
  }
  .container-fluid {
    display: flex;
    flex-flow: column-nowrap;
    flex-direction: column;
  }
  .container-business {
    min-height: 80vw;
    flex-direction: column-reverse;
  }
  .business-text {
    width: 100%;
  }
  .business-icon {
    top: 0;
    right: 0;
    margin: 0 auto;
  }
  .phone-text {
    width: 100%;
  }
  .box-phone img {
    position: unset;
    margin: 0 auto;
  }
  .phone-icon {
    display: flex;
  }
  .container-aboutus {
    flex-direction: column;
  }
  .about-card-container {
    margin: 0 auto;
  }
  .about-text {
    width: 100%;
  }
  .contact-text {
    top: 0;
    right: 0;
  }
}

@media screen and (max-width: 480px) {
  .btn-home {
    width: 200px;
    padding: 7px;
    left: 0;
    bottom: 0;
  }
  .gnplay-logo {
    width: 300px;
  }
  .container-aboutus {
    padding-left: 10px;
    padding-right: 10px;
    background-image: none;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      317deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(9, 9, 121, 1) 15%,
      rgb(1, 125, 150) 100%
    );
  }
  .about-btn {
    top: 20px;
    margin-bottom: 60px;
  }
  .about-card-container {
    width: 100%;
  }
  .container-business {
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    background-image: none;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      317deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(9, 9, 121, 1) 15%,
      rgb(1, 125, 150) 100%
    );
  }
  .business-text {
    color: #fff;
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: start;
    padding: 10px;
    top: 0;
  }
  .business-detail {
    text-align: start;
  }
  .contact-text {
    top: 0;
    right: 0;
  }

  .phone-text {
    padding: 0;
  }
  .nav-mobile {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    max-height: 90px;
    width: 100%;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      317deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(9, 9, 121, 1) 15%,
      rgba(0, 212, 255, 1) 100%
    );

    color: white;
    text-shadow: 2px 2px 3px #131313;
    font-size: 20px;
    margin: 0;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
}
